<header class="container__page--header" id="header" role="navigation">
    <div class="container__general">
        <div class="container__section--header">

            <h1 id="siteTitle" class="header__title text__SITE--title">
                <a class="header__title--link" href="#" title="Show Finder">
                    show<br>finder
                </a>
            </h1>

            <form id="searchForm" class="header__form">
                <input id="searchInput" class="header__form--showName input__searchForm text__input" type="text" name="showName" placeholder="título de la serie">
                <input id="searchButton" class="header__form--searchButton button__searchForm text__lightButton" type="submit" value="buscar">
            </form>

        </div>
    </div>
</header>