<header class="container__page--header" id="header" role="navigation">
    <div class="container__general">
        <div class="container__section--header">

            <h1 class="header__title text__header--title">
                show finder
            </h1>

            <form class="header__form">
                <input id="showName" class="header__form--showName" type="text" name="showName" placeholder="título de la serie">
                <input id="searchButton" class="header__form--searchButton" type="submit" value="buscar">
            </form>


        </div>
    </div>
</header>