<main class="container__page--main grid__element--2" id="main" role="main">
    <div class="container__general container__general--right">
        <div class="container__section--main mainSection">

            <div class="main__titleTextBox">
                <h2 id="searchResultsIntro" class="main__title text__section--title"></h2>
                <p id="searchResultsInstructions" class="main__instructions text__base"></p>
                <p id="alerText" class="main__instructions text__alert"></p>
            </div>

            <ul id="searchResultsList" class="main__resultsList"></ul>
            <p id="showInfo" class="mainInfo__show"></p>

        </div>
    </div>
</main>