<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>beatriz's test</title>
  <link rel="icon" type="image/png" href="favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Titan+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <div class="container__grid">
      <partial src="_aside.html" label="Aside"></partial>
      <partial src="_main.html" label="Main"></partial>
    </div>
    <partial src="_footer.html" label="Footer"></partial>
  </div>

  <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>