html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.text__SITE--title {
  font-family: "Titan One";
  color: transparent;
  background-image: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105__340.png");
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 40px;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
}

.text__section--title {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: none;
}

.text__card--title {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-align: end;
  text-transform: none;
}

.text__card--titleFav {
  color: white;
}

.text__base {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.text__alert {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #EF27A6;
  font-weight: 700;
}

.text__footer {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-transform: none;
}

.text__footer--link {
  font-weight: 700;
  text-transform: capitalize;
}

.text__input {
  font-family: 'Raleway', sans-serif;
  color: #706F6F;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.text__greyButton {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.text__lightButton {
  font-family: 'Raleway', sans-serif;
  color: #706F6F;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}

.input__searchForm {
  cursor: pointer;
  height: 30px;
  padding: 5px;
  border: 2px solid #706F6F;
  background-color: white;
  border-radius: 25px 25px 0 0;
  -webkit-box-shadow: 2px 2px 4px 0 #B0B5B3 inset;
  box-shadow: 2px 2px 4px 0 #B0B5B3 inset;
}

.input__searchForm:focus {
  outline: none;
}

.button__searchForm {
  cursor: pointer;
  height: 30px;
  padding: 5px;
  border: 2px solid #706F6F;
  background-color: white;
  border-radius: 0 0 25px 25px;
  -webkit-box-shadow: 2px 2px 4px 0 #B0B5B3;
  box-shadow: 2px 2px 4px 0 #B0B5B3;
}

.button__searchForm:focus {
  outline: none;
}

.button__searchForm:active {
  -webkit-box-shadow: 2px 2px 4px 0 #B0B5B3 inset;
  box-shadow: 2px 2px 4px 0 #B0B5B3 inset;
}

.button__grayRound {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #B0B5B3;
}

.button__grayRound--icon {
  color: white;
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button__grayLong {
  cursor: pointer;
  height: 18px;
  width: 50px;
  padding: 3px;
  border-radius: 7.5px;
  background-color: #B0B5B3;
}

.button__lightLong {
  cursor: pointer;
  height: 26px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 0 #B0B5B3;
  box-shadow: 0 0 4px 0 #B0B5B3;
}

.container__general {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container__grid {
  width: 100%;
}

.container__page--header {
  width: 100vw;
  background-color: white;
}

.container__section--header {
  margin-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header__form--showName {
  margin-bottom: 3px;
  width: 100%;
  max-width: 300px;
}

.header__form--searchButton {
  width: 100%;
  max-width: 300px;
}

.container__page--main {
  background-color: white;
}

.container__section--main {
  width: 100%;
}

.main__title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 400;
}

.main__instructions {
  margin-bottom: 20px;
}

.main__resultsList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__resultsList--card {
  -webkit-box-shadow: 0 0 4px 0 #B0B5B3;
  box-shadow: 0 0 4px 0 #B0B5B3;
  border-radius: 18px;
  padding: 12px;
  margin: 10px;
}

.main__resultsList--card:hover {
  -webkit-box-shadow: 0 0 3px 0 black;
  box-shadow: 0 0 3px 0 black;
}

.main__resultsList--title {
  margin-bottom: 7px;
  height: 2.5em;
  max-width: 190px;
  overflow: hidden;
  text-align: start;
}

.main__resultsList--image {
  border-radius: 12px;
}

.main__favShowStyle {
  background-color: black;
}

.mainInfo__showContent {
  margin: 15px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 5px 0 #B0B5B3;
  box-shadow: 3px 3px 5px 0 #B0B5B3;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mainInfo__showContent--image {
  max-height: 562px;
  border-radius: 20px;
  margin-right: 20px;
}

.mainInfo__showContent--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mainInfo__showContent--text-title {
  width: 100%;
  margin-bottom: 10px;
}

.mainInfo__showContent--text-rating {
  width: 100%;
  margin-bottom: 10px;
}

.mainInfo__showContent--text-summary {
  width: 100%;
  margin-bottom: 10px;
}

.mainInfo__showContent--text-officialSite {
  width: 100%;
}

.container__page--aside {
  background-color: white;
}

.container__section--aside {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.aside__title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.aside__favList {
  min-height: 10px;
  border: 2px solid #706F6F;
  -webkit-box-shadow: 0 0 4px 0 #706F6F inset;
  box-shadow: 0 0 4px 0 #706F6F inset;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.aside__favList--clearButton {
  margin: 10px;
}

.aside__favList--card {
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px 0 #B0B5B3;
  box-shadow: 0 0 4px 0 #B0B5B3;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.aside__favList--card .aside__favList--image {
  height: 100px;
  border-radius: 10px;
  margin-right: 5px;
}

.aside__favList--card .aside__favList--infoBox {
  height: 100px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.aside__favList--card .aside__favList--infoBox .aside__favList--infoBoxTexts {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.aside__favList--card .aside__favList--infoBox .aside__favList--infoBoxTexts .aside__favList--title {
  margin-bottom: 5px;
  max-height: 2em;
  overflow: hidden;
}

.container__page--footer {
  width: 100vw;
  height: 5vh;
  background-color: white;
}

.container__section--footer {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .text__SITE--title {
    font-size: 60px;
    line-height: 60px;
  }

  .text__section--title {
    font-size: 16px;
    line-height: 16px;
  }

  .text__card--title {
    text-align: start;
    font-size: 16px;
    line-height: 18px;
  }

  .text__base {
    font-size: 14px;
    line-height: 14px;
  }

  .text__alert {
    font-size: 14px;
    line-height: 14px;
  }

  .text__footer {
    font-size: 12px;
    line-height: 12px;
  }

  .container__general {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container__general--left {
    padding-right: 1rem;
  }

  .container__general--right {
    padding-left: 1rem;
  }

  .container__grid {
    height: 80vh;
    display: grid;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }

  .container__grid .grid__element--1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .container__grid .grid__element--2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .container__page--header {
    height: 15vh;
  }

  .container__section--header {
    margin-top: 0;
    height: 15vh;
  }

  .header__form {
    height: 15vh;
  }

  .container__section--main {
    height: 80vh;
    overflow: scroll;
  }

  .main__resultsList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .container__section--aside {
    width: 100%;
    height: 80vh;
    overflow: scroll;
  }

  .aside__favList--card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .aside__favList--card .aside__favList--image {
    height: 140px;
    margin-right: 0;
    margin-top: 5px;
  }

  .aside__favList--card .aside__favList--infoBox {
    height: auto;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .aside__favList--card .aside__favList--infoBox .aside__favList--infoBoxTexts {
    height: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 5px;
  }
}

@media (min-width: 1280px) {
  .text__section--title {
    font-size: 20px;
    line-height: 20px;
  }

  .text__card--title {
    text-align: end;
    max-height: 36px;
  }

  .text__base {
    font-size: 14px;
    line-height: 14px;
  }

  .text__alert {
    font-size: 14px;
    line-height: 14px;
  }

  .text__footer {
    font-size: 14px;
    line-height: 14px;
  }

  .container__general {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .container__general--left {
    padding-right: 1.5rem;
  }

  .container__general--right {
    padding-left: 1.5rem;
  }

  .container__grid {
    height: 75vh;
    grid-template-columns: 350px 1fr;
  }

  .container__page--header {
    height: 20vh;
  }

  .container__section--header {
    height: 20vh;
  }

  .header__form {
    height: 20vh;
  }

  .container__section--main {
    height: 75vh;
  }

  .container__section--aside {
    height: 75vh;
  }

  .aside__favList--card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .aside__favList--card .aside__favList--image {
    height: 120px;
    margin-right: 5px;
    margin-top: 0px;
  }

  .aside__favList--card .aside__favList--infoBox {
    height: 100px;
    width: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .aside__favList--card .aside__favList--infoBox .aside__favList--infoBoxTexts {
    height: 60px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 0;
  }

  .container__page--footer {
    height: 5vh;
  }

  .container__section--footer {
    height: 5vh;
  }
}

/*# sourceMappingURL=main.css.map */
