.container__page--main{
    background-color: $colorTheme5;
}

.container__section--main{
    width: 100%;
    height: $mainSectionHeight;
    overflow: scroll; // En movil querremos que sea hidden para que se vea todo el listado !!!!!!
}

.main__resultsList--title{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main__resultsList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    &--card{
        border: 1px solid black;
        padding: 5px;
        border-radius: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
        &:hover {
            box-shadow: 0 0 3px 0 black;
        }
    }
}

.main__favShowStyle{
    color: $colorWhite;
    background-color: $colorBlack;
}